<!DOCTYPE html>
<html lang="pt">

  {% include head.html %}

  <body>

    <div class="container content">
      <div class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>
      </div>

      {{ content }}

      <div class="footer">
        <p>
          Mafalda Macx &copy; {{ site.time | date: '%Y' }}. Todo conteúdo dedicado ao <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.pt_BR">domínio público</a>.
        </p>
      </div>
    </div>

  </body>
</html>
